// Styling for the mizzenhead
header.mizzenhead {
  height: 0px;
  text-align: center;
  color: white;
  background-image: url('/img/galaxy-darkened.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  .intro-text {
    padding-top: 170px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 300%;
      line-height: 100%;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
