[bumpversion]
commit = True
tag = True
current_version = 1.2.0
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+))?
serialize = 
	{major}.{minor}.{patch}-{release}
	{major}.{minor}.{patch}

[bumpversion:file:CHANGELOG.md]
search = Release v{current_version}
replace = Release v{new_version}
	
	'## Release v{current_version}'

